<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ManitasWeb</title>
    <link rel="stylesheet" href="~/css/diseño.css">
    <link rel="shortcut icon" href="~/image/Imagen1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6817716545.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>
    <header class="header">

        <a asp-controller="Home" asp-action="Index"> <img src="~/image/logo.png" class="logo" alt="Manitas creativas">
        </a>
        <partial name="_MenuPartial" />
        <partial name="_LoginPartial" />

    </header>

    <main role="main">
        <div class="primer"></div>
        @RenderBody()
    </main>

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3> <img src="~/image/logo.png" class="logo" alt="Manitas creativas"> </h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
            <div class="box">
                <h3>Links</h3>

                <a class="links" asp-controller="Home" asp-action="Index"><i class="fas fa-arrow-right"></i> Inicio</a>
                <a class="links" asp-controller="Catalogo" asp-action="Index" asp-route-Cat="0" asp-route-Mat="0"><i
                        class="fas fa-arrow-right"></i> Productos</a>
                <a class="links" asp-controller="Categoria" asp-action="Index"><i class="fas fa-arrow-right"></i>
                    Categorias</a>
                <a class="links" asp-controller="Home" asp-action="AboutUs"><i class="fas fa-arrow-right"></i>
                    Nosotros</a>
            </div>
            <div class="box">
                <h3>Contactanos</h3>
                <a href="tel:+51953279249" class="links" target="_blank"> <i class="fas fa-phone"></i> +123-456-7890
                </a>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNstdLtNbkWMvNWpPwWBKxlWhvKcSgJQCPfpPJcpPgkpTRcMtPzThSlDBfXRQSwkVgdJPL"
                    class="links" target="_blank"> <i class="fas fa-envelope"></i> manitas@gmail.com </a>
                <a href="https://goo.gl/maps/v5mxyN3UDyHwzuvT7" class="links" target="_blank"> <i
                        class="fas fa-map-marker-alt"></i>
                    Arequipa- Perú </a>
            </div>


        </div>

        <div class="credit"> Creado <span> Manitas Creativas </span> | Derechos reservados </div>

    </section>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
