@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form class="logout-btn" asp-area="Identity" asp-page="/Account/Logout"
    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <div class="icons">
            <div class="fas fa-plus-square" id="add-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
            <button type="submit">
                <div class="fas fa-sign-out-alt"></div>
            </button>
        </div>
    </form>
}
else
{
    <div class="fas fa-bars" id="menu-btn"></div>
}
<div class="add-categ">
    <div class="box">
        <a asp-controller="Categoria" asp-action="Create"> Add Categoria</a>
    </div>
    <div class="box">
        <a asp-controller="Material" asp-action="Create"> Add Material</a>
    </div>
    <div class="box">
        <a asp-controller="Producto" asp-action="Create"> Add Producto</a>
    </div>
</div>