@model ManitasWeb.Models.Categoria
<div class="primer"></div>
<div class="area-titulo">
    <h5 class="titulo-prim">Contactanos</h5>
</div>
<form asp-controller="Categoria" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">Nombre :</label>
        <input asp-for="NomCategoria" class="form-control" placeholder="Escriba su nombre" type="text" required />
    </div>
    <div class="form-group">
        <label class="control-label">Imagen</label>
    </div>
    <div class="form-group">
        <input type="file" id="real-file" hidden="hidden" asp-for="Imagen" name="upload" required />
        <button type="button" id="custom-button" class="btn">Cargar Imagen</button>
        <span id="custom-text">No selecciono ningun archivo.</span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn" type="text" required>Enviar</button>
    </div>
</form>