@model ManitasWeb.Models.Categoria

@{
    ViewData["Title"] = "Eliminar";
}

<h1 class="heading"><span>@ViewData["Title"]</span></h1>
<div class="delete-crud">
    <h5 class="titulo-prim">Estas seguro que quieres eliminar esta categoria?</h5>

    <dl class="row">
        <dt>
            Categoria
        </dt>

        <div class="info-delete">
            <div class="delete-img">
                <img src="@Url.ActionLink("MostrarImagenCat","Catalogo",new { id=@Model.Id })">
            </div>
            <div class="delete-info">
                <dt>
                    Nombre
                </dt>
                <h5>@Html.DisplayFor(model => model.NomCategoria)</h5>
            </div>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ELIMINAR" class="btn btn-eliminar" />
        <a asp-action="Create" class="btn btn-detail">Regresar la lista de categorias</a>
    </form>
</div>