@model ManitasWeb.Models.Material
@{
    ViewData["Title"] = "Materiales";
}
<h1 class="heading"><span>@ViewData["Title"]</span></h1>
<div class="edit-crud">
    <div>
        <form class="crud-form" asp-controller="Material" asp-action="Create">
            <h1 class="heading" style="font-size:2.5rem;padding-bottom:.8rem"><span>Crear</span></h1>
            <div>
                <label asp-for="NomMaterial" class="control-label">Nombre :</label>
                <input asp-for="NomMaterial" class="form-control" placeholder="Escriba su nombre" type="text"
                    required />
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn" type="text" required>Enviar</button>
            </div>
        </form>
    </div>
    <div class="table-crud">
        <table class="list-crud">
            <tr>
                <th>Nombres</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            @foreach (var item in (IEnumerable<Material>)ViewData["materiales"])
            {

                <tr>
                    <form asp-controller="Material" asp-action="Edit">
                        <input type="hidden" name="id" value="@item.Id" />
                        <td>
                            <input name="nombre" value="@item.NomMaterial" class="form-control text-center" />
                        </td>
                        <td>
                            <button class="btn btn-editar">Editar</button>
                        </td>
                    </form>
                    <td>
                        <a type="submit" class="btn btn-eliminar" asp-controller="Material" asp-action="Delete"
                        asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<br>