@{
    ViewData["Title"] = "About Us";
}

<h1 class="heading"> Manitas <span>Creativas</span> </h1>

<div class="container-about">
    <div class="img-about">
        <img src="~/image/logoAbout.png" alt="">
    </div>
    <div class="emp-about">
        <h1 class="about-tit">
            Quienes somos?
        </h1>
        <h5 class="about-info">
            Manitas Creativas es una empresa familiar Arequipeña, creadada con el objetivo de satisfacer las necesidades en el diseño de productos de artesania en Amigurumis, recuerdos en Foami y diseños en Scrapbook, que permitiran a nuestros clientes regalar o conservar recuerdos unicos de ocasiones especiales.
            <br> Los productos estan elaborados con materiales de alta calidad que asegura un acabado único y personalizado.
        </h5>
        <div class="about-div">
            <div class="">
                <h1 class="about-tit">
                    Teléfono
                </h1>
                <h5 class="about-info">
                    <ul>
                        <li>+51 213654987</li>
                        <li>+51 321564484</li>
                    </ul>
                </h5>
            </div>
            <div class="">
                <h1 class="about-tit">
                    Dirección
                </h1>
                <h5 class="about-info">
                    <ul>
                        <li>Av. Jiron Victoria 103</li>
                        <li>Av. Jiron Victoria 103</li>
                    </ul>
                </h5>
            </div>
        </div>
    </div>
</div>
