@{
    ViewData["Title"] = "Pagina editable del About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate provident quae molestias reiciendis debitis
    quisquam perferendis minima atque modi cum accusantium molestiae exercitationem hic distinctio illum, deserunt saepe
    ea omnis.</p>
